// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

// variables
$color-violeta: hsl(257, 40%, 49%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: $color-violeta;
    background-image: cover;
    margin: 2.3rem;
}

header {
    img {
        max-width: 42%;
    }
}

main {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
    }

    .desc {
        max-width: 507px;
        margin-top: 3.2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: white;

        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: x-large;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5rem;
        }

        .btn-main {
            margin-top: 0.5rem;
            color: $color-violeta;
            background-color: white;
            border: none;
            border-radius: 30px;
            padding: 0.7rem 0;
            font-family: 'Poppins', sans-serif;
            font-size: smaller;
            width: 100%;
            max-width: 200px;
            box-shadow: 5px 5px 15px -10px black;
        }
    }
}

footer {
    .media-container {
        margin-top: 3.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        color: white;

        i {
            border: 1px solid white;
            padding: 0.4rem;
            border-radius: 20px;
        }

        .media1 {
            i {
                padding: 0.4rem 0.6rem;
            }
        }


    }

}

@media (max-width: 1170px) {
    body {
        background-size: 100%;
    }

}

@media (max-width: 1169px) and (min-width: 690px) {
    main {
        .image {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 70%;
            }
        }

    }
}

@media (max-width: 1440px) and (min-width: 1170px) {

    body {
        background-image: url("/images/bg-desktop.svg");
        background-size: contain;

    }

    main {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 5.5rem;

        img {
            max-width: 100%;
        }

        .desc {
            text-align: left;
            align-items: flex-start;
            padding-left: 3rem;

            h1 {
                font-size: 2.25rem;
            }

            p {
                font-size: 1rem;
            }

            .btn-main {
                padding: 1rem 0;
                max-width: 180px;
                box-shadow: 5px 5px 15px -6px black;
                font-size: medium;
            }
        }


    }

    footer {
        .media-container {
            justify-content: flex-end;
        }
    }

}